/*--------------------------------------
     ### DESKTOP ###
--------------------------------------*/

:root, *{ 
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    border: 0px;
    padding: 0px;
    background-color: #ffffff;

}

.site-container{
    width: 100vw;
    max-width: 200vh;
    height: 100vh;
    max-height: 100vw;
    display: flex;
    justify-content: center;
}

.section_img{
    width: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container_img{
    width: 100%;
    display: -webkit-box;
    align-items: flex-end;
    justify-content: center;
}

.section_info{
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.info{
    width: fit-content;
    height: fit-content;
}

.logo{
    height: 12vh;
    max-height: 12vw;
}

#isologo {
    height: 8.4vh;
    max-height: 8.4vw;
}

.text_box{
    width: 36vh;
    max-width: 36vw;
    height: 14vh;
    max-height: 14vw;
    display: flex;
    align-items: flex-start;
}

#text_1{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1vh;
    line-height: 1.15em;
    text-transform: none;
    letter-spacing: .01em;
    color: #B6B9C7;
}

.contact_box{
    height: 5vh;
    max-height: 5vw;
}

#text_2{
    width: fit-content;
    height: fit-content;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.1vh;
    line-height: 1.15em;
    text-transform: uppercase;
    text-transform: none;
    letter-spacing: .02em;
    font-style: normal;
    text-decoration: none;
    color: #B6B9C7;
}

.sm_icons{
    width: 40vh;
    max-width: 40vw;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, ol, li{
    list-style: none;
}

.icon_wrapper{
    width: 6vh;
    max-width: 6vw;
    height: 6vh;
    max-height: 6vw;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.icon{
    fill: #B6B9C7;
    width: 4vh;
    max-width: 4vw;
    height: 4vh;
    max-height: 4vw;
}

a svg:hover #youtube,
a svg:hover #twitter,
a svg:hover #instagram,
a svg:hover #instagram_2,
a svg:hover #instagram_3,
a svg:hover #reddit,
a svg:hover #facebook,
a svg:hover #medium{ 
fill: #4AF2F2;
fill-opacity: 0.4;
}

a svg #youtube,
a svg #twitter,
a svg #instagram,
a svg #instagram_2,
a svg #instagram_3,
a svg #reddit,
a svg #facebook,
a svg #medium{ 
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.container_users,
.container_icons_links{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container_icons_links{
    margin-left: -100%
}

.container_user_1,
.container_user_2,
.container_icon{
    width: inherit;
    height: inherit;
}

.container_user_1,
.container_link_1{
    margin-right: -10%;
}

.container_user_2,
.container_link_2{
    margin-left: -10%;
}

.container_icon,
.container_user_1,
.container_user_2{
    display: flex;
    justify-content: center;
}

.user_box{
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.user_icon{
    width: 100%;    
    height: 100%;
}

.container_link{
    display: flex;
    justify-content: center;
    width: inherit;
}
.link_li{
    width: 63%;
    height: fit-content;
}

.link_box{
    display: flex;
    width: 100%;
    height: 60vh;
    max-height: 100%;
}

#zaquiel_path{
    fill: #B6B9C7;
    fill-opacity: 0.4;
}

#thony_path{
    fill: #4AF2F2;
    fill-opacity: 0.4;
}

/*--------------------------------------
     ### END DESKTOP ###


@media only screen 
  and (min-device-height: 1200px) 
  and (orientation: portrait){
    @media only screen 
    and (min-device-height: 100vw){
        #text_1,
        #text_2{
            font-size: 2.6vw;
        }
    } 
}
--------------------------------------*/

/*--------------------------------------
     ### END DESKTOP ###
--------------------------------------*/

/*--------------------------------------
     ### TABLET ###
--------------------------------------*/

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1199px) 
  and (orientation: portrait) {



    .site-container {
        flex-direction: column-reverse;
        max-height: none;
    }

    .section_info{
        width: 100vw;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .info{
        margin-top: 0;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text_box{
        width: 60vh;
        max-width: 60vw;
        height: 24vh;
        max-height: 24vw;
        justify-content: center;
    }

    #text_1,
    #text_2{
        font-size: 2.3vh;
        text-align: center;
    }

    .contact_box{
        height: 10vh;
        max-height: 10vw;
    }

    .sm_icons{
        width: 60vh;
        max-width: 60vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon_wrapper {
        width: 9vh;
        max-width: 9vw;
        height: 9vh;
        max-height: 9vw;
    }

    .icon,
    #icon_medium{
        width: 6vh;
        max-width: 6vw;
        height: 6vh;
        max-height: 6vw;
    }

    .section_img{
        width: 100vw;
        height: 45vh;
    }

    .container_img,
    .container_users{
        display: flex;
        justify-content: center;
    }

    .container_icon_link{
        width: 200px;
        height: 380px;
    }

    .user_icon{
    width: 40vh;
    height: 40vh;
    }

    .link_box {
        height: 40vh;
    }
}

/*--------------------------------------
     ### MOBILE ###
--------------------------------------*/

/* Portrait */
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 767px) 
  and (orientation: portrait) {

    .site-container {
        flex-direction: column-reverse;
        max-height: none;
    }

    .section_info{
        width: 100vw;
        height: 60vh;
        justify-content: center;
        align-items: flex-end;
    }

    .info{
        margin-top: 0;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #isologo {
        height: 16vh;
        max-height: 16vw;
    }

    .logo {
        height: 20vh;
        max-height: 20vw;
    }

    .text_box{
        width: 75vh;
        max-width: 75vw;
        height: 34vh;
        max-height: 34vw;
        justify-content: center;
    }

    #text_1,
    #text_2{
        font-size: 4.5vw;
        text-align: center;
    }

    .contact_box{
        height: 12vh;
        max-height: 12vw;
    }

    .sm_icons{
        width: 50vh;
        max-width: 50vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon_wrapper {
        width: 14vh;
        max-width: 14vw;
        height: 14vh;
        max-height: 14vw;
    }

    .icon,
    #icon_instagram,
    #icon_medium{
        width: 10vh;
        max-width: 10vw;
        height: 10vh;
        max-height: 10vw;
    }

    .section_img{
        width: 100vw;
        height: 40vh;
    }

    .container_img{
        display: flex;
        justify-content: center;
    }

    .container_users{
        justify-content: center;
    }

    .container_icon_link{
        width: 200px;
        height: 380px;
    }

    .link_box{
        height: 40vh;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 839px)
  and (orientation: landscape) {

    .section_info{
        width: 45vw;
        height: 100vh;
        justify-content: left;
        align-items: center;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    #isologo {
        height: 16vh;
        max-height: 16vw;
    }

    .logo {
        height: 20vh;
        max-height: 20vw;
    }

    .text_box{
        width: 75vh;
        max-width: 75vw;
        height: 28vh;
        max-height: 28vh;
        justify-content: center;
    }

    #text_1,
    #text_2{
        font-size: 4.2vh;
        text-align: left;
    }

    .contact_box{
        height: 10vh;
        max-height: 10vw;
    }

    .sm_icons{
        width: 80vh;
        max-width: 80vw;
        flex-wrap: wrap;
        justify-content: left;
    }

    .icon_wrapper {
        width: 11vh;
        max-width: 11vw;
        height: 11vh;
        max-height: 11vw;
    }

    .icon{
    width: 8vh;
    max-width: 8vw;
    height: 8vh;
    max-height: 8vw;
    }

    .section_img{
        width: 55vw;
        height: 100vh;
    }

    .container_img{
        display: flex;
        justify-content: center;
    }

    .container_icon_link{
        width: 200px;
        height: 380px;
    }
}